@use "../variables" as v;

#home {
	margin-top: 10rem;

	#trending {
		.container {
			display: flex;
			gap: var(--size_rem_8);
			justify-content: space-between;
		}

		.wrapper {
			display: flex;
			flex-basis: calc(50% - var(--size_rem_8));
			flex-direction: column;
			gap: var(--size_rem_2);
		}
	}

	#branding {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	#about {
		padding-top: 10rem;
		padding-bottom: 10rem;
	}

	#newsletter {
		.container_relative {
			height: 35vh;
			overflow: hidden;
			position: relative;

			img {
				opacity: 0.8;
				object-fit: cover;
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
			}

			.img_caption {
				position: absolute;
				width: 100%;
				height: 100%;
			}
		}
	}
}