@use "../variables" as v;

#home {
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

#hero {
	.content_container {
		display: flex;
		flex-direction: column;
		gap: var(--size_rem_4);

		@media (min-width: v.$lg_breakpoint) {
			flex-direction: row;
		}
	}

	.wrapper_img {
		order: -1;

		@media (min-width: v.$lg_breakpoint) {
			order: 0;
			flex-basis: 70%;
		}
	}

	.element_btn {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	}

	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		gap: 6rem;
	}


	img {
		height: 100%;
		object-fit: cover;
		max-width: calc(30rem + 10vw)
	}
}

#reviews {
	padding: 2rem;

	.wrapper_cover {
		display: flex;
		flex-wrap: wrap;
		gap: var(--size_rem_4);

		.element {
			max-height: 70rem;
		}

		.element_caption {
			position: absolute;
			bottom: 2rem;
			left: 2rem;

		}

		.white {
			color: var(--text_color03);
		}
	}

	img {
		display: block;
		margin: auto;
		width: 100%;
		object-fit: cover;
		height: 100%;

	}

}

#about{
	.wrapper_title{
		display: flex;
		flex-direction: column;
		gap: 2rem;
		flex-basis: 30%;
	}
	.wrapper_text{
		display: flex;
		flex-basis: 70%;
	}
}