#footer {
	background: var(--bg_color04);
	padding: var(--size_rem_8);
	.wrapper_layout {
		gap: var(--size_rem_8);
		display: flex;
		justify-content: space-between;
		li{
			color:var(--text_color03)
		}
	}
	.container{
		display: flex;
		gap:var(--size_rem_4)
	}
	.element_list{
		display: flex;
		flex-direction: column;
		gap:var(--size_rem_2)
	}
}