header {
	z-index: 1;
	height: 12vh;
	background: transparent;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	transition: all 0.2s ease-in-out;


	nav {
		position: relative;
		height: 12vh;
		display: flex;
		align-items: center;
		background: transparent;
	}

	.container_between {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

	.wrapper_nav {
		display: flex;
		position: relative;
		list-style: none;
		border-radius: var(--size_rem_2);
		gap: 2rem;
		padding: 0 0.5rem;
		margin: 0;
		background-color: var(--bg_color02);
		border : var(--border_color01);


		li {
			font-size: var(--text_size01);
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			padding: 0.5rem 1rem;
			cursor: pointer;
			flex: 1;
			text-align: center;
			z-index: 1;
			width :6rem;
		}

	}

	.highlight {
		position: absolute;
		top: 0;
		left: 0;
		
		height: var(--stg_100);
		background-color: var(--bg_color01);
		border-radius: var(--size_rem_2);
		transition: all 0.3s ease-in-out;
		z-index: 0;
		border : var(--border_color01);
		color: var(--text_color01);
		width: calc(100% / 3);
		transform: translateX(calc(var(--active-index, 0) * 100%));
	}







}

header.color {
	background-color: var(--bg_color01);
}