header {
	height: 12vh;
	background: transparent;
	position: sticky;
	top: 0;
	left: 0;
	.container {
		height: var(--stg_100);
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.element{
		display: flex;
		position: relative;
	}
	.menu_wrapper{
		display: flex;
		column-gap: var(--size_rem_25);
	}
	svg{
		cursor: pointer;
	}
}