.product {
	display: flex;
	flex-direction: column;
	border: var(--border_color03);
	box-shadow: var(--box_shadow01);
	border-radius: var(--size_rem_1);
	flex: 0 0 calc(50% - 4rem);

	.figure_img_base {
		display: flex;
		flex-direction: column;
		padding: var(--size_rem_2);
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			object-fit: cover;
			width: 60%;
		}
	}

	.figure_caption {
		display: flex;
		background: var(--bg_color02);
		flex-direction: column;
		gap: var(--size_rem_2);
		padding: var(--size_rem_2);
	}

	.figure_img {
		background-color: var(--bg_color03);
		display: flex;
		align-items: center;
		justify-content: center;
	}

	h4 {
		display: inline;
		background-color: var(--bg_color04);
		color: var(--text_color03);
		padding: var(--size_rem_05);
		border-radius: var(--size_rem_05);
	}

	p {
		font-size: var(--text_size03);
	}

	h1 {
		text-align: center;
		font-size: var(--title_size01);
	}

	.stars {
		display: flex;
	}

	.element {
		display: flex;
	}
}

#product_details {
	p {
		display: inline;
	}

	.element_list {
		display: flex;
		gap: var(--size_rem_2);
		flex-wrap: wrap;
	}

	.active_color {
		background-color: var(--highlight_color03);
		color: var(--text_color03);
	}

	.active_size {
		background-color: var(--highlight_color03);
		color: var(--text_color03);
	}

	.default_size {
		padding: var(--size_rem_1);
		border-radius: var(--size_rem_05);
		border: var(--border_color01);
		width: var(--size_rem_5);
	}

	.default_color {
		padding: var(--size_rem_1);
		border-radius: var(--size_rem_05);
		border: var(--border_color03);
	}
	.default_tab{
		color : var(--text_color03);
	}

	.container {
		display: flex;
		flex-direction: column;
		gap: var(--size_rem_8);
	}

	.container_content {
		display: flex;
		gap: var(--size_rem_8);
	}

	.element_button{
		display: flex;
		width: 70%;
		gap: var(--size_rem_2);
	}
	.btn_full{
		display: flex;
		flex : 1 0 auto;
		font-size: var(--text_size02);
		align-items: center;
		justify-content: center;
		gap: var(--size_rem_1);
	}
	.container_details{
		display: flex;
		flex-direction: column;
		flex-basis: 30%;
	}
	.container_tab{
		display: flex;
		gap:var(--size_rem_4);
	
		.active_tab {
			border-bottom: 0.1px solid black;
			color : var(--text_color01);
			transition: all 0.2s ease-in-out;
		}
	}
	.container_right{
		display: flex;
		flex-direction: column;
		gap: var(--size_rem_2);
		flex-basis: 40%;
	}
	.container_left{
		display: flex;
		flex-direction: column;
		gap: var(--size_rem_4);
		flex-basis: 60%;	
	}
	.container_text_detailed, #review .wrapper{
		display: flex;
		flex-direction: column;
		gap: var(--size_rem_2);
	}
	img{
		width: fit-content;
		height: fit-content;
	}
	hr{
		width: 100%;
		opacity: 0.2;
		border-top: 0.01px solid rgba(0, 0, 0, 0.1);
	}
	.wrapper_stars{
		display: flex;
		justify-content: space-between;
	}
	
}