.text_color01 {
	color: var(--text_color01);
}

.text_color02 {
	color: var(--text_color02);
}

.text_color03 {
	color: var(--text_color03);
}

.text_color04 {
	color: var(--text_color04);
}

.text_color05 {
	color: var(--text_color05);
}

.text_color_spe01 {
	color: var(--text_color_spe01);
}

.text_center {
	text-align: center;
}

.font_family_geist {
	font-family: "Geist", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
.flex_wrap{
	flex-wrap: wrap;
}
.font_family_lato {
	font-family: "Lato", serif;
	font-weight: 400;
	font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: uppercase;
	font-family: "Geist", serif;
}

h1 {
	font-size: var(--title_size01);
}

h2 {
	font-size: var(--text_size09);
}