.text_color01 {
	color: var(--text_color01);
}

.text_color02 {
	color: var(--text_color02);
}

.text_color03 {
	color: var(--text_color03);
}

.text_color04 {
	color: var(--text_color04);
}

.text_color05 {
	color: var(--text_color05);
}

.text_color_spe01 {
	color: var(--text_color_spe01);
}

.text_center {
	text-align: center;
}
.title_size01{
font-size: var(--title_size01);
}
.text_size01{
	font-size: var(--text_size01);
}
.text_size02{
	font-size: var(--text_size02);
}
.text_size03{
	font-size: var(--text_size03);
}
.text_size04{
	font-size: var(--text_size04);
}
.text_size05{
	font-size: var(--text_size05);
}
.text_size06{
	font-size: var(--text_size06);
}
.text_size07{
	font-size: var(--text_size07);
}
.text_size08{
	font-size: var(--text_size08);
}
.text_size09{
	font-size: var(--text_size09);
}
.text_size10{
	font-size: var(--text_size10);
}
.j_center{
	justify-content: center;
}
.a_center{
	align-items: center;
}
.font_family_geist {
	font-family: "Geist", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
.flex_wrap{
	flex-wrap: wrap;
}
.font_family_lato {
	font-family: "Lato", serif;
	font-weight: 400;
	font-style: normal;
}
.relative{
	position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: uppercase;
	font-family: "Geist", serif;
}

h1 {
	font-size: var(--title_size01);
}

h2 {
	font-size: var(--text_size09);
}
.break_word{
	display: -webkit-box; 
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	line-clamp: 2;
}

.w_100{
	width: var(--stg_100);
}
.h_100{
	height: var(--stg_100);
}
.f_basis10 {
    flex-basis: 10%;
}

.f_basis20 {
    flex-basis: 20%;
}

.f_basis30 {
    flex-basis: 30%;
}

.f_basis40 {
    flex-basis: 40%;
}

.f_basis50 {
    flex-basis: 50%;
}

.f_basis60 {
    flex-basis: 60%;
}

.f_basis70 {
    flex-basis: 70%;
}

.f_basis80 {
    flex-basis: 80%;
}

.f_basis90 {
    flex-basis: 90%;
}

.f_basis100 {
    flex-basis: 100%;
}
.flex{
	display: flex;
}

.upper{
	text-transform: uppercase;
}
.padding_default{
	padding-top: 0.25rem;
	padding-bottom : 0.25rem;
	padding-left:0.5rem;
	padding-right:0.5rem;
}
