@use './variables' as v;
.col {
	position: relative;
	flex : 1 0 100%;
	@media screen and (min-width : v.$lg-breakpoint ) {
		flex: 1 1 0%;
	}
}
input[type="search"] {
	background-color: var(--bg_color02);
	color: var(--text_color01);
	font-size: var(--text_size01);
}

input[type="text"] {
	background-color: var(--bg_color02);

}

.input_default {
	border: var(--border_color01);
	border-radius: var(--size_rem_05);
	height: var(--size_rem_35);
	font-size: var(--size_rem_2);
	width: 100%;
	outline: none;
	padding: var(--size_rem_1);
}

.label_custom {
	display: flex;
	align-items: center;
	column-gap: var(--size_rem_05);
	position: absolute;
	font-size: var(--size_rem_15);
	top: 50%;
	left: 15px;
	transform: translateY(-50%);
	pointer-events: none;
	transition: 0.3s;
	font-size: var(--text_size01);
}

.input_default:focus ~ label {
	opacity: 0;
	top: 0;
	left: 15px;
	background: transparent;
	font-size: var(--size_rem_05);
}


.btn {
	border-radius: var(--size_rem_05);
	padding: var(--size_rem_15);
	font-size: var(--size_rem_15);
	font-weight: bold;
	cursor: pointer;
}

.btn_uncolor {
	border: var(--border_color01);

}

.btn_base {
	border: var(--border_color01);
	background-color: var(--highlight_color01);
	color: var(--text_color03);
	border-radius: var(--size_rem_05);
	padding: var(--size_rem_1);
}

.btn_shop {
	border: var(--border_color01);
	background-color: var(--highlight_color03);
	color: var(--text_color03);
	border-radius: var(--size_rem_05);
	padding: var(--size_rem_1);
}

.btn_base_highlight {
	border: var(--border_color02);
	background-color: var(--highlight_color02);
	color: var(--text_color01);
}

.image_default {
	display: block;
	margin: auto;
	width: max(30vw, 35rem);
	object-fit: cover;
	height: 100%;
}
.image_card{
	display: block;
	margin: auto;
	width: max(20vw, 30rem);
	object-fit: cover;
	height: 100%;
}

.form_element {
	display: flex;
	position: relative;
}

.cursor_pointer {
	cursor: pointer;
}
.th_text_black{
	background-color: var(--bg_color04);
	color:var(--text_color03);
	padding: var(--size_rem_1);
	border-radius: var(--size_rem_05);
}
.full_color{
	background-color: var(--bg_color02);
}
.linear_color {
	background: rgb(255, 255, 255);
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, var(--bg_color02) 100%);
}
.form_group{
	display: flex;
	flex-direction: column;
	gap:var(--size_rem_15);
}