$sm_breakpoint: 576px;
$md_breakpoint: 768px;
$lg_breakpoint: 992px;
$xl_breakpoint: 1200px;

.text_color01 {
	color: var(--text_color01);
}

.text_color02 {
	color: var(--text_color02);
}

.text_color03 {
	color: var(--text_color03);
}

.text_color04 {
	color: var(--text_color04);
}

.text_color05 {
	color: var(--text_color05);
}
.text_color_spe01{
	color: var(--text_color_spe01);
}