@use "reset";
@use "variables" as v;
@use "mixin";
@use "classes";
@use "./components/header";
@use "./components/footer";
@use "./components/subnav";
@use "./components/product";
@use "./pages/home";


.lyt_container {
	padding: 0;
	margin: 0 auto;
	max-width: 85vw;
}

.lyt_container_small{
	padding: 0;
	margin: 0 auto;
	max-width: 60vw;
}

.wrapper_layout_center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 4rem;

	@media (min-width: v.$lg_breakpoint) {
		flex-direction: row;
	}
}
.container_gap {
	display: flex;
	flex-direction: column;
	gap: 4rem;
}
.container_fullcolor{
	padding: 10rem;
	background-color: var(--bg_color02);
}
.container_row{
	display: flex;
	gap: 4rem;
}
section{
	margin-top: 10rem;
	margin-bottom: 10rem;
}

input[type="search"] {
	background-color: var(--bg_color02);
	color: var(--text_color01);
}
input[type="text"] {
	background-color: var(--bg_color02);

}
input {
	border: var(--border_color01);
	border-radius: var(--size_rem_05);
	height: var(--size_rem_35);
	font-size: var(--size_rem_2);
	width: 15vw;
	outline: none;
	padding: var(--size_rem_1);
}

.btn {
	border-radius: var(--size_rem_05);
	padding: var(--size_rem_15);
	font-size: var(--size_rem_15);
	font-weight: bold;
	cursor: pointer;
}

.btn_uncolor{
	border:var(--border_color01);
	outline: none;
}
.btn_base {
	border: var(--border_color01);
	background-color: var(--highlight_color01);
	color: var(--text_color03);
	border-radius: var(--size_rem_05);
	padding: var(--size_rem_1);
}
.btn_shop{
	border: var(--border_color01);
	background-color: var(--highlight_color03);
	color: var(--text_color03);
	border-radius: var(--size_rem_05);
	padding: var(--size_rem_1);
}

.btn_base_highlight {
	border: var(--border_color02);
	background-color: var(--highlight_color02);
	color: var(--text_color01);
}

label {
	display: flex;
	align-items: center;
	column-gap: var(--size_rem_05);
	position: absolute;
	font-size: var(--size_rem_15);
	top: 50%;
	left: 15px;
	transform: translateY(-50%);
	pointer-events: none;
	transition: 0.3s;
}

.input_base:focus ~ label {
	opacity: 0;
	top: 0;
	left: 15px;
	background: transparent;
	font-size: var(--size_rem_05);
}

.col {
	flex: 1 1 0%;
	position: relative;
}
.element_between{
	display: flex;
	justify-content: space-between;
}