@use "reset";
@use "variables" as v;
@use "mixin";
@use "classes";
@use "./components/header";
@use "./components/footer";
@use "./components/subnav";
@use "./components/product";
@use "./pages/home";


.lyt_container {
	padding: 0;
	margin: 0 auto;
	max-width: 85vw;
}

.lyt_container_small{
	padding: 0;
	margin: 0 auto;
	max-width: 60vw;
}

.container_default{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: var(--size_rem_4);
	@media (min-width: v.$lg_breakpoint) {
		flex-direction: row;
	}
}
.container_row{
	display: flex;
	flex-direction: column;
	gap: var(--size_rem_4);
	@media screen and (min-width : v.$lg-breakpoint ) {
	flex-direction: row;
	}
}
.element_centered{
	display: flex;
	justify-content: center;
	align-items: center;
}
.element_between{
	display: flex;
	justify-content: space-between;
}

.default_col {
	position: relative;
	flex : 1 0 100%;
	@media screen and (min-width : v.$lg-breakpoint ) {
		flex: 1 1 0%;
	}
}

